/* ================================================== */
/* ESTILOS PÁGINA EXPEDIÇÃO TOCANTINS
/* ================================================== */

.modal-header {
    background-color: #2C6E49 !important;
    color: white !important;
}

.modal-header .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.col-lg-8 .card .card-title {
    color: #D4A000;
}

.col-lg-4 .card .list-unstyled a {
    color: #0066CC;
    text-decoration: none;
    font-weight: 500;
}

.col-lg-4 .card .list-unstyled a:hover {
    color: #004a99;
    text-decoration: underline;
}

.col-lg-4 .card-header {
    font-weight: bold;
    color: #493843;
    background-color: #e9ecef;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-disabled {
    opacity: 0.6;
    filter: grayscale(80%);
}

.instruction-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 10;
    transition: opacity 1s ease-out;
    text-align: center;
}

.instruction-overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

.instruction-overlay img {
    max-width: 150px;
    margin-bottom: 20px;
}

.instruction-overlay h3 {
    margin-bottom: 10px;
}

.instruction-overlay p {
    font-size: 1.1rem;
    max-width: 80%;
}