/* ESTILOS PÁGINA EXPEDIÇÃO TOCANTINS*/
.col-lg-8 .card .card-title {
    color: #D4A000;
}

.col-lg-4 .card .list-unstyled a {
    color: #0066CC;
    text-decoration: none;
    font-weight: 500;
}

.col-lg-4 .card .list-unstyled a:hover {
    color: #004a99;
    text-decoration: underline;
}

.col-lg-4 .card-header {
    font-weight: bold;
    color: #493843;
    background-color: #e9ecef;
}